$primary-color: #B510F9;
$secondary-color: #2B0960;
$tertiary-color: #11003C;
$white: #FFFFFF;
$dark: #000000;
$gray: #7A7A7AB5;
$gray-disabled: #aaaaaa;
$gray-fonts-disabled: #555555;
$green: #74CA18;
$green-save: #13BC04;
$red: #c50000;
