<div class="finder">
  <mat-form-field class="content-input" appearance="outline">
    <mat-label>{{ 'FINDER.LABEL' | translate}}</mat-label>

    <input matInput
           type="text"
           [(ngModel)]="valueFilter"
           appTextUppercaseTransform
           (input)="filtered()"
           placeholder="{{ 'FINDER.PLACEHOLDER' | translate}}">

    <button matSuffix mat-icon-button aria-label="Clear" *ngIf="valueFilter" (click)="cleanFilter()" class="btn-clear">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>
</div>
